imagePullSecrets: []
# imagePullSecrets:
#   - name: "ecr-registry-secret"
nameOverride: ""
fullnameOverride: ""

# TODO = Generic base image
image:
  repository: "docker.io/bitnamilegacy/postgresql"
  pullPolicy: IfNotPresent
  tag: "11.7.0"

cronjob:
  schedule: "@hourly"
  # DB Lag eg. don't import records with timestamp > lagMinutes
  lagMinutes: "0"
  truncateTargetTable: "false"
  restartPolicy: "Never"

# Provide the DBs to reference later in the table mappings

# dbs:
#   atmoDB:
#     secret: "atmosphere-postgresql-secrets"
#     host: "postgresql"
#     user: "atmosphere"
#     passwordKey: "PGPASSWORD"
#     name: "atmospherex"
#
#   greenplum:
#     secret: "postgresql-1613204300"
#     host: "postgresql-1613204300"
#     user: "postgres"
#     passwordKey: "postgresql-password"
#     name: "postgres"
#
# tableMappings:
#   - inputTable: prediction
#     inputSchema: public
#     inputDB: atmoDB
#     timestampColumn: created_at
#     outputTable: atmosphere_predictions
#     outputDB: greenplum
#     outputSchema: mod_rtde
#
#   - inputTable: outcome
#     inputSchema: public
#     inputDB: atmoDB
#     timestampColumn: created_at
#     outputTable: atmosphere_outcomes
#     outputDB: greenplum
#     outputSchema: mod_rtde
#
#   - inputTable: entity
#     inputSchema: public
#     inputDB: atmoDB
#     timestampColumn: created_at
#     outputTable: atmosphere_entities
#     outputDB: greenplum
#     outputSchema: mod_rtde

customExportStatementConfigMap: ""

createTargetTableConfigMap: ""

PrometheusPushGatewayURL: ""
