name: Lint Charts

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint-chart:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.4.0

      - uses: actions/setup-python@v6
        with:
          python-version: '3.11'

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.0.1

      - name: Run chart-testing (lint)
        run: |
          ct lint --all --debug --config $CONFIG
        env:
          CONFIG: .github/ct.yaml

      - name: Kubeval the chart
        uses: desaintmartin/helm-kubeval-action@v1.0.2
        with:
          path: ./charts
          version: 1.15.7

  deploy:
    name: Create new tag
    runs-on: ubuntu-latest
    if: github.event_name == 'push' &&  github.ref == 'refs/heads/main'
    needs: [lint-chart]
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Bump version and push tag
      id: push-tag
      uses: anothrNick/github-tag-action@1.34.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        WITH_V: true
